<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>News</title>
    </head>
    <body style="font-family:Arial">
    <p style="font-size:30px; text-decoration: underline"><strong>Latest News</strong></p>
        <div>
            {% if latest_article_list %}
                {% for article in latest_article_list %}
                    <h3>{{ article.heading }}</h3>
                    {{ article.story_text }}
                    <h5>Published {{ article.publication_date }}</h5>
                    <br /><br />
                {% endfor %}
            {% else %}
                <p>No Stories are available.</p>
            {% endif %}
        </div>
    </body>
</html>